  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="active"> <a href="index.handlebars"><img src="logo2.png" width="110px"/> </a>
          <a class="button" href="about.handlebars"> About </a>
          <a class="button" href="createAccount.handlebars"> Create an Account </a>
          <a class="button" href="howToUse.handlebars"> How to Use PDF Hub </a>
          <a class="button" href="myLibrary.handlebars"> My Library </a>
          <form class="search-bar2" action="/search" method="POST">
            <input class="input2" type="text" placeholder="Search for Textbook by ISBN/Title" name="search">
            <button class="search-icon2"><img src="magnifying_glass.png" width="20px"/></button>
        </form> 
      </ul>
      </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1> How to Use <br /> <img src="logo2.png" width="300px" /> </h1>
  </div>
    <div class="container">
      <div class="column2"> 
        <div class="row">
          <img src="step1.png" width="300px">
        </div>
        <div class="row">
          <h4> Step 1 </h4> </br>
          <p> Create an account with PDFHub and login. </p>
        </div>
      </div>
      <div class="column2">
        <div class ="row">
          <img src="step2.png" width="300px">
        </div>
        <div class="row">
          <h4> Step 2 </h4> </br>
          <p> Search for the PDF file you need access to using our search 
            bar at the top fo the page. </p>
        </div>
      </div>
      <div class="column2">
        <div class="row">
          <img src="step3.png" width="300px">
        </div>
        <div class="row">
          <h4> Step 3 </h4>
          <p> Click on the desired file to view details and click the '+' 
            button to add to your library.</p>
        </div>
      </div>
      </div>
    </div>
<!--
</body>
</html>
-->