  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <ul class="nav navbar-nav">
        <li class="active"> <a href="index"><img src="logo2.png" width="110px"/> </a>
          <a class="button" href="about"> About </a>
          <a class="button" href="createAccount"> Create an Account </a>
          <a class="button" href="howtoUse"> How to Use PDF Hub </a>
          <a class="button" href="myLibrarybyTitle"> My Library </a>
      </ul>
    </div>
    <form class="search-bar2" action="/search" method="POST">
      <input class="input2" type="text" placeholder="Search for Textbook by ISBN/Title" name="search">
      <button class="search-icon2"><img src="magnifying_glass.png" width="20px"/></button>
  </form> 
  </div>
</nav>

  <div class="jumbotron text-center">
    <h1> My Library <br /> </h1>
  </div>
  <div class="container">
      <div class="row">
          <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                   <ul class="nav navbar-nav">
                    <li class="active">
                      <div class = "row">
                        <div class="column">
                          <form action="/myLibrary" method="POST">
                            <input type="hidden" name="sortType" value="title">
                            <button class="button-setting"> Sort By Title </button>
                          </form>
                        </div>
                        <div class="column">
                          <form action="/myLibrary" method="POST">
                            <input type="hidden" name="sortType" value="author">
                            <button class="button-setting"> Sort By Author </button>
                          </form>
                        </div>
                        <div class="column">
                          <form action="/myLibrary" method="POST">
                            <input type="hidden" name="sortType" value="isbn">
                            <button class="button-setting"> Sort By ISBN </button>
                          </form>
                        </div>
                      </div>
                      </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
    <div class="row">
        {{#each library}}
        <div class="column3">
          <div class ="row">Title: {{this.title}} </div>
          <div class = "row">ISBN: {{this.isbn}} </div>
          <div class = "row">Author: {{this.author}} </div>
          <div class = "row">
            <form action="/download" method="POST">
              <input type="hidden" name="fileName" value={{this.fileName}} />
              <button class="submit-button2">Download Here</button>
            </form>
          </div>
          <div class = "row">
          <form>
            <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
          </form>
          </div>
          </div>
        {{/each}}
    </div>

  
  
